body {
  padding-top: 50px;
  background-color: #dfdfdf;
  font-family: "Raleway";
}

h1 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: #555;
  font-size: 4.5em;
}

.countdowntext {
  color: #666;
  font-size: 4em;
  text-align: center;
}
